
/* ==========================================================================
   	OPTIONAL MODULES
   ========================================================================== */

// Enable any of the following by switching the variable to true.
$use-breadcrumbs:       true;
$use-buttons:           true;
$use-colours:           true;
$use-fluid-type:        true;
$use-grid:              false;
$use-joomla-modules:    true;
$use-labels:            true;
$use-media:             true;
$use-nav:               true;
$use-pagination:        true;
$use-rows:              true;
$use-tables:            true;
$use-wells:             true;
$use-wrapper:           true;


/* ==========================================================================
   	OVERRIDE VARIABLES
   ========================================================================== */

//
// Place any variables that should override framework defaults here.
//
// e.g.;
//
// $root-font-family: Helvetica, "Helvetica Neue", sans-serif!;
//
// or:
//
// $heading-font-weight: 600;
//

/* ==========================================================================
   	CUSTOM VARIABLES
   ========================================================================== */

//
// Place your own variables here.
//
// E.g.:
//
// $sandwich-filling:    bacon!default;
//
