
/* ==========================================================================
   FIGURES
============================================================================= */

figure {

	figcaption {
		@extend .milli;
		@extend .muted;
		display: block;
	}

	img {
		display: block;
		margin-bottom: $half-spacing-unit;
	}
}
