
/* ==========================================================================
    FORMS
============================================================================= */

/* Remove default fieldset styles. */
fieldset {
    border: 0;
    padding: 0;
}

form {

    input,
    select,
    textarea {
        @include vendor(transition, all .3s);
    }

    ul {
        list-style-type: none;
    }
}

input,
label,
textarea {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
textarea {
    width: 100%;
    border:1px solid $brand-border;
    margin: 0 0 $half-spacing-unit;
    padding: $half-spacing-unit*.5;
    @include vendor(border-radius, $brand-round);
    -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 3px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 3px inset;
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 3px inset;

    &:focus {
        border: 1px solid darken($brand-border, 10%);
        outline: none;
        outline-width: 0;
    }
}

/* Style some form elements */


/*
input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="tel"],
textarea {
    display:block;
    width: 100%;
    margin: 0 0 $half-spacing-unit;
    padding: $half-spacing-unit*.5;
    border:1px solid $brand-border;
}
*/
/* Allow only vertical resizing of textareas. */
textarea {
    resize: vertical;
}

