
/* ==========================================================================
    FORMS
============================================================================= */

/* Remove default fieldset styles. */
fieldset {
    border: 0;
    padding: 0;
}

form {
    margin-bottom:1.5em;
}

form ul {
    list-style-type: none;
}

/* Style some form elements */

label {
    display:block;
}

input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="tel"],
textarea {
    display:block;
    width: 100%;
    margin: 0 0 $half-spacing-unit;
    padding: $half-spacing-unit*.5;
    border:1px solid $brand-border;
}

/* Allow only vertical resizing of textareas. */
textarea {
    resize: vertical;
}

