
/* ==========================================================================
    IMAGES
   ========================================================================== */

/* Fluid images. */
img {
    max-width: 100%;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

/* Don't ignore `width` and/or `height` attributes if they are present. */
img[width],
img[height] {
    max-width: none;
}

/* Image placement variations. */
.img-right {
    float: right;
    margin-left: $single-spacing-unit;
}
.img-left {
    float: left;
    margin-right: $single-spacing-unit;
}
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
