
/* ==========================================================================
    ROOT
   ========================================================================== */

/*
 * Border-box *all the things*, as suggested in:
 * http:// paulirish.com/2012/box-sizing-border-box-ftw
 */

* {
    &,
    &:before,
    &:after {
        @include vendor(box-sizing, border-box);
    }
}


/* Define the root elements styles. */
html {
    font: #{$root-font-size}%/#{$root-line-height} $root-font-family;
    font-weight: $root-font-weight;
    overflow-y: scroll;
    min-height: 100%;
    -webkit-overflow-scrolling: touch;
}


/* Style the body element. */
body {
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga" 1, "dlig" 1;
    -o-font-feature-settings: "liga" 1, "dlig" 1;
    -webkit-font-feature-settings: "liga" 1, "dlig" 1;
    font-feature-settings: "liga" 1, "dlig" 1;
	@include vendor(hyphens, auto);
}

/* Colour selected text. */
 ::-moz-selection {
    background-color: lighten($brand-color, 50%);
    color: $brand-color;
    text-shadow: none;
}

::selection {
    background-color: lighten($brand-color, 50%);
    color: $brand-color;
    text-shadow: none;
}
