@if $use-breadcrumbs == true{

/* ==========================================================================
    BREADCRUMBS
   ========================================================================== */

    .breadcrumb {
        @extend .nav;
        font-size: 0.813em;

        > li + li:before {
            content:"\00BB" "\00A0";
            padding-left: $half-spacing-unit/2;
        }
    }

}//endif
