@if $use-buttons == true {

/* ==========================================================================
    BUTTONS
   ========================================================================== */

/*
 * Default button styles.
 *
 * Using a class attribute selector ensures that any object containing the btn
 * class will match this rule. This means that, ulike Bootstrap for example,
 * you don't need class="btn btn-danger" to creat a danger button, you can just
 * use class="btn-danger" instead.
 *
 * This works because the default colour sets also use the same type of class
 * attribute selector, so [class*="-danger"] applies to buttons, labels, badges
 * or anything else you suffixed that way, e.g., class="figure-danger".
 */
    [class*="btn"] {
        background-color: $brand-background;
        border-radius: $brand-round;
        cursor: pointer;
        display: inline-block;
        font-size: 100%;
        font-family: $button-font-family;
        line-height: 3;
        padding: 0 1em;
        vertical-align: middle;
        white-space: nowrap;

        &,
        &:hover {
            text-decoration: none;
        }

        &:active,
        &:focus {
            outline: none;
        }
    }

    /*
     * BUTTON SIZING
     */
    .btn-small {
        line-height: 2;
        padding: 0 0.5em;
    }

    .btn-large {
        line-height: 4;
        padding: 0 1.5em;
    }

    .btn-huge {
        line-height: 5;
        padding: 0 2em;
    }

}//endif
