@if $use-buttons == true {

/* ==========================================================================
    BUTTONS
   ========================================================================== */
    .btn,
    [class*="btn-"] {
        background-color: $brand-background;
        border: 1px solid transparent;
        border-radius: $brand-round;
        cursor: pointer;
        display: inline-block;
        font-size: 100%;
        font-family: $button-font-family;
        font-weight: 400;
        line-height: 3;
        margin-right: $half-spacing-unit/2;
        padding: 0 1em;
        vertical-align: middle;
        white-space: nowrap;

        &,
        &:hover {
            text-decoration: none;
        }

        &:active,
        &:focus {
            outline: none;
        }
    }

    /* BUTTON SIZING */
    .btn-small {
        line-height: 2;
        padding: 0 0.5em;
    }

    .btn-large {
        line-height: 4;
        padding: 0 1.5em;
    }

    .btn-huge {
        line-height: 5;
        padding: 0 2em;
    }

}//endif
