@if $use-joomla-modules == true {

/* ==========================================================================
    JOOMLA MODULES
   ========================================================================== */

	.module {
		margin-bottom:$single-spacing-unit;

		&:last-child {
			margin-bottom: 0;
		}

		/* Remove default bullets on lists inside modules */
		ul {
			list-style-type: none;
		}
	}
}
