@if $use-pagination == true {

/* ==========================================================================
    PAGINATION
   ========================================================================== */

    /* Blog and article pagination */
    .pagination {
        text-align:center;

        ul {
            @extend .nav;

            li {
                padding:$half-spacing-unit;
            }
        }
    }

    /* Article pagination */
    .pagenav {
        @extend .nav;

        li {
            width: 50%;
        }
        .previous {
            margin-right: -.25em;
        }
        .next {
            float: right;
            text-align: right;
        }
    }
}//endif
