@if $use-pagination == true {

/* ==========================================================================
    PAGINATION
   ========================================================================== */

    /* Blog and article pagination */
    .pagination {
        text-align:center;

        ul {
            list-style-type: none;

            li {
                display: inline-block;
                padding:$half-spacing-unit;

            }
        }
    }

    /* Article pagination */
    ul.pagenav {
        list-style-type: none;

        li {
            display: inline-block;
            width: 50%;
        }
        .previous {
            margin-right: -.25em;
        }
        .next {
            float: right;
            text-align: right;
        }
    }
}//endif
