@if $use-wrapper == true {

/* ==========================================================================
    CONTENT WRAPPER
   ======================================================================= */

[class*="-row"] {

	> {
		section,
		header,
		footer {
    		margin: 0 auto;
    		max-width: $wrapper-max-width;
    	}
    }
}

}//endif